#container{
     display: flex; 
    /* border: solid thin red; */
    position: relative;
    top: 20px;
    left: 400px;
    /* background-color: blue; */
    width: 80%;
    border-radius: 20% 30%;
    
    transform: translate(-20%, 10%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    padding-bottom: 20px;
    height: 500px;
    text-align: center;
}
#box{
    
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
   
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    padding-bottom: 20px;
}
 h1{
text-align: center;
color: blue;
} 

#box2{
    
    height: 200px;
     margin-left: 90px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 60%;
    font: 1em sans-serif;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    padding-bottom: 30px;
    height: 450px;

}
.register-form{
    text-align: center;

}
button{
  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-color:#fff ;
    color: red;
    font-weight: 900;
}
input{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-color:#fff ;
    height: 20px;
    width: 310px;
}
td{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-color:#fff ;
  
    font-weight: 600;
  

}
table{
    margin-top: 20px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-color:#fff ;
}